*.gem
*.rbc
.bundle
.config
.yardoc
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
bundle
pkg
rdoc
spec/reports
tmp
.ruby-version
test/storage
.*.sw*
.idea
Gemfile.lock
test/Gemfile
test/debug.log
